In [1]:
import requests
import pandas as pd
import io

url = "https://visual-crossing-weather.p.rapidapi.com/history"

headers = {
"X-RapidAPI-Host": "visual-crossing-weather.p.rapidapi.com",
"X-RapidAPI-Key": ""
}

## Berlin

In [28]:
berlin_dates = ['2021-09-26', '2019-09-29', '2018-09-16', '2017-09-24', '2016-09-25', '2015-09-27', '2014-09-28',
'2013-09-29', '2012-09-30', '2011-09-25', '2010-09-26', '2009-09-20', '2008-09-28', '2007-09-30', '2006-09-24',
'2005-09-25', '2004-09-26', '2003-09-28', '2002-09-29', '2001-09-30', '2000-09-10', '1999-09-26', '1998-09-20',
'1997-09-28', '1996-09-29', '1995-09-24', '1994-09-25', '1993-09-26', '1992-09-27', '1991-09-29', '1990-09-30',
'1989-10-01', '1988-10-09', '1987-10-04', '1986-09-28', '1985-09-29', '1984-09-30', '1983-09-25', '1982-09-26',
'1981-09-27', '1980-09-28', '1979-09-30', '1978-09-03', '1977-09-10', '1976-09-26', '1975-09-28', '1974-10-13']

df = pd.DataFrame()

for date in berlin_dates:

    querystring = {"startDateTime":f"{date}T00:00:00","aggregateHours":"24","location":"Berlin,Germany",
                   "endDateTime":f"{date}T00:00:00","unitGroup":"us","dayStartTime":"8:00:00","contentType":"csv",
                   "dayEndTime":"17:00:00","shortColumnNames":"0"}

    response = requests.request("GET", url, headers=headers, params=querystring)
    
    df = pd.concat([df, pd.read_csv(io.StringIO(response.text))], ignore_index=True)

df.to_csv('../data/Berlin_Data/Original/Berlin_Weather.csv', index=False)

## Boston

In [2]:
boston_dates = ['2001-04-16', '2002-04-15', '2003-04-21', '2004-04-19', '2005-04-18', '2006-04-17', '2007-04-16', '2008-04-21', 
'2009-04-20', '2010-04-19', '2011-04-18', '2012-04-16', '2013-04-15', '2014-04-21', '2015-04-20', '2016-04-18', '2017-04-17', '2018-04-16']

df = pd.DataFrame()

for date in boston_dates:

    querystring = {"startDateTime":f"{date}T00:00:00","aggregateHours":"24","location":"Boston,MA,USA",
                   "endDateTime":f"{date}T00:00:00","unitGroup":"us","dayStartTime":"8:00:00","contentType":"csv",
                   "dayEndTime":"17:00:00","shortColumnNames":"0"}

    response = requests.request("GET", url, headers=headers, params=querystring)
    
    df = pd.concat([df, pd.read_csv(io.StringIO(response.text))], ignore_index=True)

df.to_csv('../data/Boston_Data/Original/Boston_Weather.csv', index=False)

## Chicago

In [30]:
chicago_dates = ['1996-10-20', '1997-10-19', '1998-10-11', '1999-10-24', '2000-10-22', 
'2001-10-07', '2002-10-13', '2003-10-12', '2004-10-10', '2005-10-09', '2006-10-22', '2007-10-07', '2008-10-12', '2009-10-11',
'2010-10-10', '2011-10-09', '2012-10-07', '2013-10-13', '2014-10-12', '2015-10-11', '2016-10-09', '2017-10-08', '2018-10-07']

df = pd.DataFrame()

for date in chicago_dates:

    querystring = {"startDateTime":f"{date}T00:00:00","aggregateHours":"24","location":"Chicago,IL,USA",
                   "endDateTime":f"{date}T00:00:00","unitGroup":"us","dayStartTime":"8:00:00","contentType":"csv",
                   "dayEndTime":"17:00:00","shortColumnNames":"0"}

    response = requests.request("GET", url, headers=headers, params=querystring)
    
    df = pd.concat([df, pd.read_csv(io.StringIO(response.text))], ignore_index=True)

df.to_csv('../data/Chicago_Data/Original/Chicago_Weather.csv', index=False)

## London

In [31]:
london_dates = ['2000-04-16', '2001-04-22', '2002-04-14', '2003-04-13', '2004-04-18',
'2005-04-17', '2006-04-23', '2007-04-22', '2008-04-13', '2009-04-26', '2010-04-25', '2011-04-17',
'2012-04-22', '2013-04-21', '2014-04-13', '2015-04-26', '2016-04-24', '2017-04-23', '2018-04-22']

df = pd.DataFrame()

for date in london_dates:

    querystring = {"startDateTime":f"{date}T00:00:00","aggregateHours":"24","location":"London,England",
                   "endDateTime":f"{date}T00:00:00","unitGroup":"us","dayStartTime":"8:00:00","contentType":"csv",
                   "dayEndTime":"17:00:00","shortColumnNames":"0"}

    response = requests.request("GET", url, headers=headers, params=querystring)
    
    df = pd.concat([df, pd.read_csv(io.StringIO(response.text))], ignore_index=True)

df.to_csv('../data/London_Data/Original/London_Weather.csv', index=False)

## NYC

In [32]:
nyc_dates = ['1970-09-13', '1971-09-19', '1972-10-01', '1973-09-30', '1974-09-29', '1975-09-28', '1976-10-24', '1977-10-23', '1978-10-22',
 '1979-10-21', '1980-10-26', '1981-10-25', '1982-10-24', '1983-10-23', '1984-10-28', '1985-10-27', '1986-11-02',
 '1987-11-01', '1988-11-06', '1989-11-05', '1990-11-04', '1991-11-03', '1992-11-01', '1993-11-14', '1994-11-06',
 '1995-11-12', '1996-11-03', '1997-11-02', '1998-11-01', '1999-11-07', '2000-11-05', '2001-11-04', '2002-11-03',
 '2003-11-02', '2004-11-07', '2005-11-06', '2006-11-05', '2007-11-04', '2008-11-02', '2009-11-01', '2010-11-07',
 '2011-11-06', '2013-11-03', '2014-11-02', '2015-11-01', '2016-11-06', '2017-11-05', '2018-11-04', '2021-11-07']

df = pd.DataFrame()

for date in nyc_dates:

    querystring = {"startDateTime":f"{date}T00:00:00","aggregateHours":"24","location":"NewYorkCity,NY,USA",
                   "endDateTime":f"{date}T00:00:00","unitGroup":"us","dayStartTime":"8:00:00","contentType":"csv",
                   "dayEndTime":"17:00:00","shortColumnNames":"0"}

    response = requests.request("GET", url, headers=headers, params=querystring)
    
    df = pd.concat([df, pd.read_csv(io.StringIO(response.text))], ignore_index=True)

df.to_csv('../data/NYC_Data/Original/NYC_Weather.csv', index=False)