### Best Scores/Coefs

In [35]:
X_train = berlin_train.drop(columns=best_berlin[min(best_berlin.keys())])
y_train = berlin_train['time_seconds']

X_test = berlin_test.drop(columns=best_berlin[min(best_berlin.keys())])
y_test = berlin_test['time_seconds']

lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Train R2: {lr.score(X_train, y_train)}')
model_scores(X_test, y_test, lr)

Train R2: 0.6973163511837641
R2: 0.7009410046557292
MAE: 697.1485514735509
MSE: 664319.6138605874
RMSE: 815.0580432463613

In [36]:
pd.DataFrame(list(zip(X_test.columns,lr.coef_)))

                     0            1
0                  age   467.283861
1                 male -1456.419104
2          temperature    65.067429
3           wind_speed   -18.763229
4        precipitation     0.000000
5  precipitation_cover     0.000000
6                clear  -160.178762

In [37]:
X_train = boston_train.drop(columns=best_boston[min(best_boston.keys())])
y_train = boston_train['time_seconds']

X_test = boston_test.drop(columns=best_boston[min(best_boston.keys())])
y_test = boston_test['time_seconds']

lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Train R2: {lr.score(X_train, y_train)}')
model_scores(X_test, y_test, lr)

Train R2: 0.692594056449461
R2: 0.9021486183699339
MAE: 459.41501587389786
MSE: 362019.2686137439
RMSE: 601.680370806414

In [38]:
pd.DataFrame(list(zip(X_test.columns,lr.coef_)))

                     0            1
0                  age   596.293495
1                 male -1438.800837
2        precipitation  1685.412086
3  precipitation_cover   -12.270840

In [39]:
X_train = chicago_train.drop(columns=best_chicago[min(best_chicago.keys())])
y_train = chicago_train['time_seconds']

X_test = chicago_test.drop(columns=best_chicago[min(best_chicago.keys())])
y_test = chicago_test['time_seconds']

lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Train R2: {lr.score(X_train, y_train)}')
model_scores(X_test, y_test, lr)

Train R2: 0.7705064996083735
R2: 0.8979253516448884
MAE: 428.7325776482707
MSE: 284824.57429055916
RMSE: 533.6895860802974

In [40]:
pd.DataFrame(list(zip(X_test.columns,lr.coef_)))

                      0            1
0                   age   447.139328
1                  male -1534.813112
2           temperature    43.168050
3            wind_speed   -62.097256
4   precipitation_cover   -32.533945
5           cloud_cover    17.749158
6                 clear   517.843735
7              overcast  -112.397198
8      partially_cloudy  -405.446537
9                  rain    -3.253394
10                event     0.000000

In [41]:
X_train = london_train.drop(columns=best_london[min(best_london.keys())])
y_train = london_train['time_seconds']

X_test = london_test.drop(columns=best_london[min(best_london.keys())])
y_test = london_test['time_seconds']

lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Train R2: {lr.score(X_train, y_train)}')
model_scores(X_test, y_test, lr)

Train R2: 0.8073211843660915
R2: 0.8561822249414253
MAE: 494.025268737525
MSE: 345689.2834815816
RMSE: 587.9534705073027

In [42]:
pd.DataFrame(list(zip(X_test.columns,lr.coef_)))

                  0            1
0               age   452.511953
1              male -1915.789567
2       temperature    60.749601
3  partially_cloudy   217.465128

In [43]:
X_train = nyc_train.drop(columns=best_nyc[min(best_nyc.keys())])
y_train = nyc_train['time_seconds']

X_test = nyc_test.drop(columns=best_nyc[min(best_nyc.keys())])
y_test = nyc_test['time_seconds']

lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Train R2: {lr.score(X_train, y_train)}')
model_scores(X_test, y_test, lr)

Train R2: 0.43811576463239665
R2: 0.5583309101585976
MAE: 211.0118309774252
MSE: 72099.97614991367
RMSE: 268.51438723076586

In [44]:
pd.DataFrame(list(zip(X_test.columns,lr.coef_)))

                     0           1
0                  age  109.787697
1                 male -399.839212
2          temperature   26.608885
3    relative_humidity    0.462864
4           wind_speed   20.261552
5        precipitation   27.743533
6  precipitation_cover   11.074646
7     partially_cloudy  106.893521
8                 rain -636.774796

In [45]:
X_train = combined_train.drop(columns=best_combined[min(best_combined.keys())])
y_train = combined_train['time_seconds']

X_test = combined_test.drop(columns=best_combined[min(best_combined.keys())])
y_test = combined_test['time_seconds']

lr = LinearRegression()
lr.fit(X_train, y_train)

print(f'Train R2: {lr.score(X_train, y_train)}')
model_scores(X_test, y_test, lr)

Train R2: 0.5155719604904092
R2: 0.5311457241991488
MAE: 1385.1871639253602
MSE: 2562454.43728688
RMSE: 1600.7668278943313

In [46]:
pd.DataFrame(list(zip(X_test.columns,lr.coef_)))

             0            1
0          age   416.194101
1         male -1351.448793
2  temperature    47.815009
3  cloud_cover   -14.248988
4         rain   986.344199
5        event  -432.350564